# Übung 1 - Modellierung von PV-Stromerzeugung

Gruppe 2/B

Autoren: Ahmed Akhi, Johannes Gerger, Markus Heitzinger

In [127]:
# Import von Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

__Vorgegebene Funktion zur Bestimmung des relativen Sonnenstands:__

In [128]:
def sonnenstand(laengengrad,breitengrad,time):
    """
    Diese Funktion erstellt einen Vektor für den Sonnenstand in 15 min
    Auflösung über ein Jahr

    die Variable "azimut" ergibt einen Vektor des azimuts über ein Jahr
    der azimut ergibt nur für positive Hoehenwinkel verlässliche Werte, da
    die atan-Funktion nur Abweichungen bis zu 90° liefert. In weiteren 
    Berechnungen sollten also nur jene Werte mit positiven Hoehenwinkeln 
    (nach Sonnenaufgang) verwendet werden. Für die Berechnung von PV-Erträgen
    reicht dies vollkommen aus. 
    die Variable "hoehenwinkel" ergibt einen Vektor aller hoehenwinkel über 
    ein Jahr
    für Schaltjahre muss die Berechnung dementsprechend angepasst werden. Dies
    Anpassung muss im Rahmen dieser LV allerdings nicht berücksichtigt werden.

    Quellen zur Berechnung des Sonnenstands: Ursula Eicker(2012), 
    Jakob Anger(2012), Rainer Blabensteiner(2011)

    Args:
        laengengrad: float
        breitengrad: float
        time: pandas.Dataframe

    Returns:
        azimut: numpy.array
        hoehenwinkel: numpy.array
    
    """
    ## Zeitgleichung zur Berechnung der wahren Ortszeit
    
    # Zeitgleichung - ergibt die 
    # Abweichung der Sonnenuhr von der mittlerer Ortszeit(MOZ)
    hw1 = 360 / 365 * time['Tag'] # Hilfswinkel 1
    
    z = 0.008 * np.cos(np.radians(hw1)) - 0.122 * np.sin(np.radians(hw1)) \
        - 0.052 * np.cos(np.radians(2 * hw1)) - 0.157 * np.sin(np.radians(2 * hw1)) \
        - 0.001 * np.cos(np.radians(3 * hw1)) - 0.005 * np.sin(np.radians(3 * hw1))

    WOZ = time['Stunden'] + z + 1 / 15 * laengengrad - math.floor(1/15 * laengengrad) # Wahre Ortszeit (WOZ), der Vektor 
    # time.Stunden entspricht der mittleren Ortszeit (MOZ) in Stunden
    
    ## Stundenwinkel bei Berechnung über True Solar Time
    # time.Stunden entspricht hier der Sonnenzeit und nicht der Ortszeit
    # Stw=15*time.Stunden; #Stundenwinkel 
    # In einer Stunde legt die Sonne 15Grad zurück deswegen *15
    Stw = 15 * WOZ # Stundenwinkel
    
    ## Berechnung der Deklination
    
    Ew = 0.98630 * (np.array(time.Tag) - 2.8749) + 1.9137 * np.sin(np.radians(0.98630 * (np.array(time.Tag) - 2.8749))) + 102.06 # Ekliptikale Länge in Grad    
    Dw = np.degrees(np.arcsin(-0.3979 * np.sin(np.radians(Ew)))) # Winkel zwischen Äquatorebene und Verbindungs-
    # linie Sonne-Erde. Dieser Winkel wird als Sonnendeklination bezeichnet
    # und schwankt über das Jahr zwischen 23°26,5' und -23°26,5'

    ## Berechnung des Höhenwinkels

    hoehenwinkel = np.degrees(np.arcsin(np.sin(np.radians(Dw)) * np.sin(np.radians(breitengrad)) - np.cos(np.radians(Dw)) * np.cos(np.radians(breitengrad)) * np.cos(np.radians(Stw))))

    ## Berechnung des Azimuts
    # Winkel nach Sonnenuntergang werden hier nicht vollständig abgebildet

    azimutfull = 180 + np.degrees(np.arctan(-np.cos(np.radians(Dw)) * np.sin(np.radians(Stw)) / (-np.cos(np.radians(Dw)) * np.sin(np.radians(breitengrad)) * np.cos(np.radians(Stw)) - np.sin(np.radians(Dw)) * np.cos(np.radians(breitengrad)))))
    
    
    azimutfull[hoehenwinkel < -20] = 0 # Eliminiert
    # unter -20°

    azimutaufteilung = np.reshape(np.array(azimutfull), (96, 365), order="F") # teilt Vektor auf Tage auf
    az1 = azimutaufteilung[0:int((len(time['Stunden'])//365)//2), :] # ergibt Werte für die erste Tageshälfte
    az1[az1 > 220] = az1[az1 > 220] - 180 # Korrektur der Winkel für Abweichungen von über 90° aus Südrichtung
    az11 = az1[0:int(len(time['Stunden'])//365*0.25), :]
    az11[az11 >= 180] = az11[az11 >= 180] - 180
    az1[0:len(az11[:, 0]), :] = az11

    az2 = azimutaufteilung[int((len(time['Stunden'])//365)//2):, :] # ergibt Werte für die zweite Tageshälfte
    az2[(az2 < 150) & (az2 > 0)] = az2[(az2 < 150) & (az2 > 0)] + 180 # Korrektur der Winkel für Abweichungen von über 90° aus Südrichtung
    az22 = az2[int(len(az2[:, 0])*0.5):, :]
    az22[(az22 <= 180) & (az22 > 0)] = az22[(az22 <= 180) & (az22 > 0)] + 180
    az2[int(len(az2[:, 0])-len(az22[:, 0])):, :] = az22
    
    print(len(az1) + len(az2))
    azimutaufteilung = np.concatenate((az1, az2), axis=0) # Zusammenfassung der ersten und zweiten Tageshälfte
    azimut = np.reshape(azimutaufteilung, (35040, ), order="F") # reshape der Tage in einen Vektor aller Winkel über den Jahresverlauf in 15min Intervalle

    return azimut, hoehenwinkel

## 1. Modellimplementierung

In [129]:
def jahreserzeugung():


    # !!! TODO
    return None

In [130]:
def jahreserzeugung_temp():
    # !!! TODO
    return None

## 2. Anwendung der Modelle

In [131]:
# Input - Parameter
# !! Achtung: Anpassen an gruppen-spezifische Parameter (siehe Übungsangabe)
laengengrad=16.3
breitengrad=48.2
Installpv = 1
Modulwirkungsgrad = 0.17 # Wirkungsgrad der Panele
SonstigeVerluste = 0.8 # Wirkungsgrad aller anderen Komponenten...
Installpv = 1 # installierte Leistung der Anlage in kWp

# Ausrichtung der PV
pv_hoehenwinkel=20 
pv_azimut=180

Systemkostenkwp=2000 # €/kWp Systemkosten
A = 0.2 #Albedo
kappa = 1.041
E_0 = 1367 #W/m^2

dfTime = pd.read_csv("time.csv");
dfStrahlung = pd.read_csv("Strahlung.csv");
dfTemperatur = pd.read_csv("Temperatur.csv");

dfSonnenstand = pd.DataFrame(sonnenstand(laengengrad, breitengrad,dfTime))
dfSonnenstand = dfSonnenstand.transpose()
dfSonnenstand.rename(columns = {0:'Azimut'}, inplace = True)
dfSonnenstand.rename(columns = {1:'Höhenwinkel'}, inplace = True)

dfSonnenstand[40:50]

96

        Azimut  Höhenwinkel
40  155.550739    15.096052
41  158.989520    16.061875
42  162.483320    16.886545
43  166.025221    17.564877
44  169.607025    18.092435
45  173.219420    18.465658
46  176.852206    18.681965
47  180.494579    18.739838
48  184.135440    18.638865
49  187.763740    18.379762

In [132]:

dfSonnenstand["Moduleinfallswinkel"] = np.degrees(np.arccos(-np.cos(np.radians(dfSonnenstand["Höhenwinkel"]))*np.sin(np.radians(pv_hoehenwinkel)*np.cos(np.radians(dfSonnenstand["Azimut"]-pv_azimut-180)+np.sin(np.radians(dfSonnenstand["Höhenwinkel"])*np.cos(pv_hoehenwinkel))))))
dfStrahlung[0:1]

,Year,Month,Day,Hour,DirectInclined,DiffuseInclined,Reflected,GlobalInclined,DirectHoriz,DiffusHoriz,GlobalHoriz,TopOfAtmosphere
0,2005,1,1,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [133]:
#Strahlungsenergien
dfSonnenstand["EdirGen"] = dfStrahlung["DirectHoriz"] * np.maximum(0, np.cos(np.radians(dfSonnenstand["Moduleinfallswinkel"]))/np.sin(np.radians(dfSonnenstand["Höhenwinkel"])))
dfSonnenstand["EdirGen"] = dfSonnenstand["EdirGen"].fillna(0)

dfSonnenstand["EreflGen"] = dfStrahlung["GlobalHoriz"]*A*(1/2)*(1-np.cos(np.radians(pv_hoehenwinkel)))
dfSonnenstand["EdiffGen"] = dfStrahlung["DiffuseInclined"] * (1 + np.cos(np.radians(pv_hoehenwinkel))) / 2

#Aus Angabe 
dfSonnenstand.loc[dfSonnenstand["Höhenwinkel"] < 5] = 0

#Gesamtstrahlungsenergie
dfSonnenstand["EgGen"] = dfSonnenstand["EdirGen"]+dfSonnenstand["EdiffGen"]+dfSonnenstand["EreflGen"]

#Fläche der Anlage unter maximaler Leistung in m^2
A = 1

#Gesamtenergie
Emax = dfSonnenstand["EgGen"] * A * SonstigeVerluste



dfSonnenstand[0:55]
#dfEnergie[20:50]

,Azimut,Höhenwinkel,Moduleinfallswinkel,EdirGen,EreflGen,EdiffGen,EgGen
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,136.286222,6.687841,75.007668,1.777021,0.050055,7.273847,9.100923
35,139.326908,8.366576,74.256084,3.356626,0.066941,9.407509,12.831076
36,142.435429,9.943585,73.581890,5.074163,0.085636,11.541171,16.700970
37,145.612820,11.411916,72.987391,6.802131,0.105538,13.674833,20.582502
38,148.858972,12.764625,72.473916,8.041433,0.124233,15.614526,23.780192
39,152.172517,13.994877,72.041830,4.207265,0.107950,14.353725,18.668941
40,155.550739,15.096052,71.690571,2.171218,0.094683,12.995941,15.261841
41,158.989520,16.061875,71.418714,1.957907,0.097698,13.480864,15.536469
42,162.483320,16.886545,71.224051,1.551293,0.092873,12.898956,14.543122
43,166.025221,17.564877,71.103697,1.395075,0.092270,12.995941,14.483285
44,169.607025,18.092435,71.054201,1.672762,0.105538,14.644679,16.422979
45,173.219420,18.465658,71.071662,2.457960,0.123027,16.875326,19.456312
46,176.852206,18.681965,71.151850,6.152300,0.170067,21.627573,27.949939
47,180.494579,18.739838,71.290318,7.887743,0.188159,23.373296,31.449198
48,184.135440,18.638865,71.482502,6.657908,0.177907,22.597419,29.433234
49,187.763740,18.379762,71.723811,10.840680,0.209267,24.925050,35.974997
50,191.368806,17.964342,72.009708,18.325561,0.253291,27.252681,45.831533
51,194.940655,17.395460,72.335772,23.445616,0.274399,27.349666,51.069680
52,198.470257,16.676928,72.697749,16.892849,0.229771,24.828066,41.950685
53,201.949747,15.813396,73.091599,3.735520,0.122424,16.196433,20.054377
54,205.372576,14.810232,73.513524,0.666123,0.059101,8.437663,9.162888

In [134]:
def Zeitgleichung(delta, rho, n, mez, laengengrad, breitengrad):
    """
    Berechnung der wahren Ortszeit über die Zeitgleichung.

    delta:
    rho: 
    n: Tagesnummer eines Jahres (1.1. n=1; 31.12. n=365)
    woz: Wahre Ortszeit [h]
    mez: Mitteleuropäische Zeit [h]
    längengrad [°]
    breitengrad [°]
    
    Args:
        delta: float
        rho: float
        n: int
        mez: float
        längengrad: float
        breitengrad: float


    Returns:
        woz: float

    """
    tau=360/365*n


    tau_rad = np.radians(tau)
    z = 0.008*np.cos(tau_rad)-0.122*np.sin(tau_rad)-0.052*np.cos(2*tau_rad) - 0.157*np.sin(2*tau_rad)-0.001*np.cos(3*tau_rad)-0.005*np.sin(3*tau_rad)

    woz = mez + z + 1/15*laengengrad-1
    
    return woz

def Moduleinfallswinkel(sonnenazimut, sonnenhöhe, modulazimut, modulneigungswinkel):
    """
    Args:
        


    Returns:
    
    
    """
    #falsch: 
    moduleinfallswinkel = np.arccos(-np.cos(np.radians(sonnenhöhe))*np.sin(np.radians(modulneigungswinkel)*np.cos(np.radians(sonnenazimut-modulazimut-180)+np.sin(np.radians(sonnenhöhe)*np.cos(modulneigungswinkel)))))
    return moduleinfallswinkel

In [135]:
dfStrahlung

,Year,Month,Day,Hour,DirectInclined,DiffuseInclined,Reflected,GlobalInclined,DirectHoriz,DiffusHoriz,GlobalHoriz,TopOfAtmosphere
0,2005,1,1,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2005,1,1,0.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2005,1,1,0.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2005,1,1,1.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2005,1,1,1.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2005,12,31,23.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35036,2005,12,31,23.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35037,2005,12,31,23.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35038,2005,12,31,23.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35039,2005,12,31,24.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
#3
def Strahlungsenergie(dfStrahlung,):
    
    EdiffGen = EdiffHor*max(0, np.cos())

In [137]:
"""
░░░░░░░█▐▓▓░████▄▄▄█▀▄▓▓▓▌█
░░░░░▄█▌▀▄▓▓▄▄▄▄▀▀▀▄▓▓▓▓▓▌█
░░░▄█▀▀▄▓█▓▓▓▓▓▓▓▓▓▓▓▓▀░▓▌█
░░█▀▄▓▓▓███▓▓▓███▓▓▓▄░░▄▓▐█▌
░█▌▓▓▓▀▀▓▓▓▓███▓▓▓▓▓▓▓▄▀▓▓▐█
▐█▐██▐░▄▓▓▓▓▓▀▄░▀▓▓▓▓▓▓▓▓▓▌█▌
█▌███▓▓▓▓▓▓▓▓▐░░▄▓▓███▓▓▓▄▀▐█
█▐█▓▀░░▀▓▓▓▓▓▓▓▓▓██████▓▓▓▓▐█
▌▓▄▌▀░▀░▐▀█▄▓▓██████████▓▓▓▌█▌
▌▓▓▓▄▄▀▀▓▓▓▀▓▓▓▓▓▓▓▓█▓█▓█▓▓▌█▌
█▐▓▓▓▓▓▓▄▄▄▓▓▓▓▓▓█▓█▓█▓█▓▓▓▐█
"""

'\n░░░░░░░█▐▓▓░████▄▄▄█▀▄▓▓▓▌█\n░░░░░▄█▌▀▄▓▓▄▄▄▄▀▀▀▄▓▓▓▓▓▌█\n░░░▄█▀▀▄▓█▓▓▓▓▓▓▓▓▓▓▓▓▀░▓▌█\n░░█▀▄▓▓▓███▓▓▓███▓▓▓▄░░▄▓▐█▌\n░█▌▓▓▓▀▀▓▓▓▓███▓▓▓▓▓▓▓▄▀▓▓▐█\n▐█▐██▐░▄▓▓▓▓▓▀▄░▀▓▓▓▓▓▓▓▓▓▌█▌\n█▌███▓▓▓▓▓▓▓▓▐░░▄▓▓███▓▓▓▄▀▐█\n█▐█▓▀░░▀▓▓▓▓▓▓▓▓▓██████▓▓▓▓▐█\n▌▓▄▌▀░▀░▐▀█▄▓▓██████████▓▓▓▌█▌\n▌▓▓▓▄▄▀▀▓▓▓▀▓▓▓▓▓▓▓▓█▓█▓█▓▓▌█▌\n█▐▓▓▓▓▓▓▄▄▄▓▓▓▓▓▓█▓█▓█▓█▓▓▓▐█\n'